<template>

    <div class="row">

        <div class="card w-100 rounded my-4">
            <div class="card-body">
                <div class="row">
                    <div class="col between-border">
                        <h2>Clients</h2>
                    </div>
                    <div class="col between-border d-flex justify-content-end">
                        <router-link tag="button" :to="{ name: 'NewClient' }" class="btn btn-primary">
                            Add Client
                        </router-link>
                    </div>
                </div>

            </div>
        </div>

        <div class="card rounded w-100 my-4">
            <div class="card-body">
                <div class="row">
                    <pie-chart :data="chartData" :options="chartOptions"></pie-chart>
                </div>
            </div>
        </div>

    </div>


</template>

<script>

import PieChart from "./PieChart.js";


export default {
    name: "ClientReport",
    data() {
        return {
            chartOptions: {
                hoverBorderWidth: 20
            },
            chartData: {
                hoverBackgroundColor: "red",
                hoverBorderWidth: 10,
                labels: ["Green", "Red", "Blue"],
                datasets: [
                    {
                        label: "Data One",
                        backgroundColor: ["#41B883", "#E46651", "#00D8FF"],
                        data: [1, 10, 5]
                    }
                ]
            }
        };
    },
    components: {
        PieChart
    },
}
</script>s
