<template>

    <div class="row">

        <div class="card w-100 rounded my-4">
            <div class="card-body">
                <div class="row">
                    <div class="col between-border">
                        <h2>Activities</h2>
                    </div>
                </div>

            </div>
        </div>


        <div class="card rounded w-100 my-4">
            <div class="card-body">

                <div class="row pb-4">
                    <div class="col-6">
                        <input ref="searchInput" class="form-control search" type="search" @input="searchText"
                               placeholder="Search" v-model="search" @keydown.esc="clearSearchESC">
                    </div>
                    <b-col lg="6" class="my-1">
                        <b-form-group
                            label="Sort"
                            label-for="sort-by-select"
                            label-cols-sm="3"
                            label-align-sm="right"
                            label-size="sm"
                            class="mb-0">
                            <b-input-group size="sm">
                                <b-form-select
                                    id="sort-by-select"
                                    v-model="sortBy"
                                    :options="sortOptions"
                                    class="w-75">
                                    <template #first>
                                        <option value="">-- none --</option>
                                    </template>
                                </b-form-select>
                            </b-input-group>
                        </b-form-group>
                    </b-col>
                </div>

                <b-table striped hover id="my-table" :items="filteredClients" :fields="fields" :current-page="currentPage"
                         :per-page="perPage"
                         sort-icon-left @filtered="onFiltered">

                    <template #cell(actions)="row">
                        <div class="row">
                            <div class="col-6 pointer" @click="info(row.item)">
                                <i class="fas fa-plus-circle"></i>
                            </div>
                        </div>
                    </template>

                </b-table>

                <div class="col-12  d-flex justify-content-end">
                    <b-pagination
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        align="fill"
                        size="sm"
                        class="my-0">
                    </b-pagination>
                </div>

            </div>
        </div>

    </div>

</template>

<script>
import {mapActions, mapState} from "vuex";

export default {
    name: "showActivity",
    data() {
        return {
            form: {
                client_id: null,
                starting_date: null,
                ending_date: null,
            },
            fields: [
                {key: "client_name", sortable: true},
                {key: "address", sortable: true},
                {key: "city", sortable: true},
                {key: "actions", sortable: false}
            ],
            activities: [],
            total: 0,
            totalRows: 1,
            currentPage: 1,
            perPage: 10,
            search: '',
            sortBy: 'active'
        }
    },
    filters: {
        getTotalHours(total, activities) {
            let totalH = 0;
            for (let activity of activities) {
                totalH = Number(totalH) + Number(activity.duration)
            }
            return totalH;
        }
    },
    created() {
        this.LoadClients().then(() => {
            this.totalRows = this.clients.length
        }).catch((err) => {
            this.handleHttpError(err);
        });
    },
    methods: {
        ...mapActions('activity', ['LoadClients']),
        setFormValues(field, value) {
            this.form[field] = value;
        },
        info(item) {
            this.$router.push({name: 'NewActivity', params: {client_id: item.id}});
        },
        showSuccessMessages(response) {
            this.showMessages(response[0].data.messages, "Erfolg", '/activity', null, true);
        },
        getActivities() {
            this.activities = [];
            let dates = {
                "starting_date": this.starting_date,
                "ending_date": this.ending_date,
            }
            axios.get('/api/getactivityByClient/' + this.client_id, {
                params: {
                    "dates": dates
                }
            }).then((response) => {
                this.activities = response.data
            }).catch((err) => {
                this.handleHttpError(err);
//                this.ShowLoadingIcon(false);
            });
        },
        onFiltered(filteredItems) {
            this.totalRows = filteredItems.length;
            this.currentPage = 1;
        },
        clearSearchESC() {
            this.search = '';
        },
        searchText(e) {
            this.$root.$emit('bv::refresh::table', 'my-table');
        },
    },
    computed: {
        ...mapState('activity', ['clients']),

        filteredClients() {
            let clients = this.clients;
            let search = this.search;
            let sort = this.sortBy;
            this.totalRows = clients.length;

            clients = clients.filter((client) => {
                return `${client.client_name} ${client.address} ${client.city}`.toLowerCase().includes(search.toLowerCase());
            });

            if (sort === 'active') {
                clients = clients.filter((client) => {
                    return client.is_active === true;
                });
            }

            this.totalRows = clients.length;
            return clients;
        },
        sortOptions() {
            return [{text: 'Active Users', value: 'active'}];
        },
        client_id: {
            get: function () {
                return this.form.client_id
            },
            set: function (newValue) {
                this.setFormValues('client_id', newValue);
            }
        },
        starting_date: {
            get: function () {
                return this.form.starting_date
            },
            set: function (newValue) {
                this.setFormValues('starting_date', newValue);
            }
        },
        ending_date: {
            get: function () {
                return this.form.ending_date
            },
            set: function (newValue) {
                this.setFormValues('ending_date', newValue);
            }
        },
    },
    watch: {
        filteredClients(newValue) {
            this.totalRows = newValue.length;
        }
    }
}
</script>
