<template>

    <div class="row">

        <div class="card w-100 rounded my-4">
            <div class="card-body">
                <div class="row">
                    <div class="col between-border">
                        <h2>Client Activities</h2>
                    </div>
                    <div class="col between-border d-flex justify-content-end">
                        <router-link tag="button" :to="{ name: 'showActivity' }" class="btn btn-primary">
                            Activities
                        </router-link>
                    </div>
                </div>

            </div>
        </div>

        <div class="card rounded w-100 my-4">
            <div class="card-body">
                <div class="row">

                    <div class="col-12 py-4">
                        <div class="row">
                            <div class="col-3 d-flex align-self-end">
                                <h4>{{ client.client_name }}</h4>
                            </div>
                            <div class="col-3">
                                <select class="form-control" id="selectClient" v-model="filter" @change="filterBy">
                                    <option v-for="activityFilter in activityFilters" :value="activityFilter"
                                            :selected="activityFilter === filter ? 'selected' : ''">
                                        {{ activityFilter }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-6 d-flex justify-content-end align-self-end">
                                <button class="btn btn-primary" v-b-toggle.collapse-1>Add Activity</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <b-collapse class="row my-3" id="collapse-1">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="product">Product</label>
                                    <select class="form-control" id="product" v-model="product"
                                            :class="{ 'is-invalid': $v.product.$error }">
                                        <option v-for="availableProduct in availableProducts" :value="availableProduct"
                                                :selected="availableProduct === product ? 'selected' : ''">
                                            {{ availableProduct | filterProductName }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="duration">Activity Duration</label>
                                    <input type="number" id="duration" class="form-control"
                                           :class="{ 'is-invalid': $v.duration.$error }"
                                           min="0" max="18" step="0.5" v-model.number="duration"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Choose a date</label>
                                <b-form-datepicker v-model="date" class="mb-2"
                                                   :class="{ 'is-invalid': $v.date.$error }"></b-form-datepicker>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary" @click="onSubmit">Add</button>
                            </div>
                        </b-collapse>
                    </div>

                    <div class="col-12">
                        <b-table :items="activities" :fields="fields" :current-page="currentPage" :per-page="perPage"
                                 sort-icon-left @filtered="onFiltered">

                            <template #cell(actions)="row">
                                <div class="row">
                                    <div class="col-6 pointer" @click="info(row.item)">
                                        <i class="fas fa-edit"></i>
                                    </div>
                                    <div class="col-6 pointer" @click="remove(row.index)">
                                        <i class="fas fa-trash"></i>
                                    </div>
                                </div>
                            </template>

                        </b-table>
                    </div>

                    <div class="col-12 d-flex justify-content-end">
                        <b-pagination
                            v-model="currentPage"
                            :total-rows="totalRows"
                            :per-page="perPage"
                            align="fill"
                            size="sm"
                            class="my-0">
                        </b-pagination>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary" @click="store()">Submit</button>
                    </div>

                </div>
            </div>
        </div>

    </div>

</template>

<script>

import {required} from 'vuelidate/lib/validators'
import {mapActions, mapState} from "vuex";

const activityFilters = ["Current Month", "Last Month", "Last Three Months"];
const activityFilterValues = {"Current Month": "current", "Last Month": 'last'};

export default {
    name: "NewClient",
    data() {
        return {
            form: {
                date: null,
                duration: null,
                product: null,
                filter: activityFilters[0]
            },
            fields: [
                {key: "product_name", sortable: true},
                {key: "duration", sortable: true},
                {key: "date", sortable: true},
                {key: "actions", sortable: false}
            ],
            totalRows: 1,
            currentPage: 1,
            perPage: 10,
            activities: [],
            client: [],
            activityFilters: activityFilters,
        }
    },
    async beforeRouteUpdate(to, from, next) {
        await this.loadActivityByClient(to.params.client_id);
        next();
    },
    async created() {
        await this.loadActivityByClient(this.$route.params.client_id, activityFilterValues[activityFilters[0]]);
        await this.getAvailableProducts();
    },
    filters: {
        filterProductName(product) {
            return product.product_name;
        }
    },
    methods: {
        ...mapActions('product', ['LoadProducts']),

        async loadActivityByClient(client_id, filter = false) {
            await axios.get('/api/activities/byClient' + "/" + client_id, {
                params: {
                    "dates": filter
                }
            }).then((response) => {
                this.activities = response.data.activitites;
                this.client = response.data.client;
            }).catch((err) => {
                this.handleHttpError(err);
//                this.ShowLoadingIcon(false);
            });
        },
        async getAvailableProducts() {
            this.LoadProducts().then(() => {
            }).catch((err) => {
                this.handleHttpError(err);
            });
        },
        async onSubmit() {
            this.$v.$touch();

            if (this.$v.$invalid) {
                return
            }

            let activity = this.form;
            this.activities.push({
                "id": null,
                "date": activity.date,
                "client_id": this.$route.params.client_id,
                "duration": activity.duration,
                "product_id": activity.product.id,
                "product_name": activity.product.product_name,
            });
            this.resetFormValues();
        },
        resetFormValues() {
            this.form.duration = null;
            this.form.product = null;
            this.form.date = null;
            this.setFormValues('duration', null);
            this.setFormValues('product', null);
            this.setFormValues('date', null);
            this.$v.$reset();
        },
        async store() {
            let activity = this.activities;

            let promises = [];
            promises.push(axios.post('/activities/store', activity));

            if (promises.length > 0) {
                //this.ShowLoadingIcon(true);
                await axios.all(promises)
                    .then((response) => {
                        //this.ShowLoadingIcon(false);
                        this.showSuccessMessages(response);
                    }).catch((response) => {
                        //this.ShowLoadingIcon(false);
                        this.handleHttpError(response);
                    });
            }
        },
        setFormValues(field, value) {
            this.form[field] = value;
        },
        showSuccessMessages(response) {
            this.showMessages(response[0].data.messages, "Erfolg", '/activity', null, true);
        },
        onFiltered(filteredItems) {
            this.totalRows = filteredItems.length
            this.currentPage = 1
        },
        remove(activityIndex) {
            this.activities.splice(activityIndex, 1);
        },
        async filterBy(event) {
            await this.loadActivityByClient(this.$route.params.client_id, activityFilterValues[event.target.value]);
        }
    },
    computed: {
        ...mapState('product', ['products']),
        availableProducts() {
            return this.products;
        },
        date: {
            get: function () {
                return this.form.date
            },
            set: function (newValue) {
                this.setFormValues('date', newValue);
            }
        },
        product: {
            get: function () {
                return this.form.product
            },
            set: function (newValue) {
                this.setFormValues('product', newValue);
            }
        },
        duration: {
            get: function () {
                return this.form.duration
            },
            set: function (newValue) {
                this.setFormValues('duration', newValue);
            }
        },
        filter: {
            get: function () {
                return this.form.filter
            },
            set: function (newValue) {
                this.setFormValues('filter', newValue);
            }
        }
    },
    validations: {
        date: {
            required,
        },
        product: {
            required
        },
        duration: {
            required
        }
    }
}
</script>
