<template>
    <line-chart :chartData.sync="filteredMonthlyReport" :options="this.options"></line-chart>
</template>

<script>

import LineChart from '../line-chart'
const Months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

export default {
    name: "DashboardChart",
    props: ['data'],
    data() {
        return {
            datacollection: {
                labels: Months,
                datasets: [
                    {
                        label: 'Data One',
                        backgroundColor: '#f87979',
                        pointBackgroundColor: 'white',
                        borderWidth: 1,
                        pointBorderColor: '#249EBF',
                        data: [40, 20, 30, 50, 90, 10, 20, 40, 50, 70, 90, 100]
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        gridLines: {
                            display: true
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        gridLines: {
                            display: false
                        }
                    }]
                },
                legend: {
                    display: false
                },
                tooltips: {
                    enabled: true,
                    mode: 'single',
                    callbacks: {
                        label: function (tooltipItems, data) {
                            return 'EUR ' + tooltipItems.yLabel;
                        }
                    }
                },
                responsive: true,
                maintainAspectRatio: false,
                height: 200,
            }
        }
    },
    components: {
        LineChart,
    },
    computed: {
        filteredMonthlyReport() {
            let mappedRevenue = Object.entries(this.data).map((revenue, index) => {
                return revenue[1]
            });

            return {
                labels: Months,
                datasets: [
                    {
                        label: "Sales $",
                        backgroundColor: '#0560fd',
                        pointBackgroundColor: 'white',
                        borderWidth: 1,
                        pointBorderColor: '#0560fd',
                        data: mappedRevenue
                    }
                ]
            };
        },
    }
}
</script>

<style scoped>

</style>
