.pointer {
    cursor: pointer;
}

.rounded {
    border-radius: 0.8rem !important;
}

body {
    background-color: $light-gray;
    color: #495058;
}

a {
    color: $gray;
}

.nav_active {
    background: $blue;
    color: #fff;
    border-radius: 10px;

    &:hover {
        color: #fff;
    }
}

.col {
    &.between-border {
        border-right: 2px solid #e5eaef;

        &:last-child {
            border: none;
        }
    }
}


.card {
    background-color: #f9fcfe;
    border: 2px solid rgb(255 255 255);

    .card-title {
        padding: 0 15px;
    }
}


.svg-inline--fa {
    font-size: 25px;
}

.nav {
    .nav-item {
        padding: 5px 0;
    }
}

.btn {
    padding: 0.475rem 1.5rem;
    border-radius: 10px;
}
