<template>

    <div class="row">

        <div class="card w-100 rounded my-4">
            <div class="card-body">
                <div class="row">
                    <div class="col between-border">
                        <h2>New Client</h2>
                    </div>
                    <div class="col between-border d-flex justify-content-end">
                        <router-link tag="button" :to="{ name: 'Client' }" class="btn btn-primary">
                            Clients
                        </router-link>
                    </div>
                </div>
            </div>
        </div>

        <div class="card rounded w-100 my-4">
            <div class="card-body">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Client name</label>
                            <input type="text" class="form-control" id="name" v-model="client_name"
                                   :class="{ 'is-invalid': $v.client_name.$error }"
                                   placeholder="Client name">
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="text" class="form-control" id="email" v-model="email" placeholder="E-mail"
                                   :class="{ 'is-invalid': $v.email.$error }">
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" v-model="address" placeholder="Address"
                                   :class="{ 'is-invalid': $v.address.$error }">
                        </div>
                        <div class="form-group">
                            <label for="zip">PLZ</label>
                            <input type="text" class="form-control" id="zip" v-model="zip" placeholder="PLZ"
                                   :class="{ 'is-invalid': $v.zip.$error }">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="city">Stadt</label>
                            <input type="text" class="form-control" id="city" v-model="city" placeholder="Stadt"
                                   :class="{ 'is-invalid': $v.city.$error }">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="city">Price</label>
                            <select class="form-control" id="selectClient" v-model="price"
                                    :class="{ 'is-invalid': $v.price.$error }">
                                <option v-for="availablePrice in availablePrices" :value="availablePrice"
                                        :selected="availablePrice === price ? 'selected' : ''">
                                    {{ availablePrice }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Active User</label>
                            <div class="row px-3">
                                <div class="col-md-6">
                                    <input id="fta-true" class="form-check-input radio-btn-margin" type="radio"
                                           name="um-ftr" value="true" v-model="is_active">
                                    <label for="fta-true" class="checkbox-label mt-1 pointer">Active</label>
                                </div>
                                <div class="col-md-6">
                                    <input id="fta-false" class="form-check-input radio-btn-margin" type="radio"
                                           name="um-ftr" value="false" v-model="is_active">
                                    <label for="fta-false" class="checkbox-label mt-1 pointer">Deactive</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary" @click="onSubmit">Submit</button>
                    </div>

                </div>
            </div>
        </div>

    </div>


</template>

<script>
import {required, email} from 'vuelidate/lib/validators'
import {mapActions, mapState} from "vuex";

export default {
    name: "NewClient",
    data() {
        return {
            form: {
                client_name: null,
                zip: null,
                address: null,
                email: null,
                city: null,
                price: null,
                is_active: true
            }
        }
    },
    created() {
        this.loadAvailablePrices().then(() => {
        }).catch((err) => {
            this.handleHttpError(err);
        });
    },
    methods: {
        ...mapActions('client', ['loadAvailablePrices']),

        async onSubmit() {

            this.$v.$touch();

            if (this.$v.$invalid) {
                return
            }

            let client = this.form;
            let promises = [];
            promises.push(axios.post('/client/store', client));

            if (promises.length > 0) {
                //this.ShowLoadingIcon(true);
                await axios.all(promises)
                    .then((response) => {
                        //this.ShowLoadingIcon(false);
                        this.showSuccessMessages(response);
                    }).catch((response) => {
                        //this.ShowLoadingIcon(false);
                        this.handleHttpError(response);
                    });
            }
        },
        setFormValues(field, value) {
            this.form[field] = value;
        },
        showSuccessMessages(response) {
            this.showMessages(response[0].data.messages, "Erfolg", '/client', null, true);
        }
    },
    computed: {
        ...mapState('client', ['available_prices']),

        availablePrices() {
            return this.available_prices;
        },
        client_name: {
            get: function () {
                return this.form.client_name
            },
            set: function (newValue) {
                this.setFormValues('client_name', newValue);
            }
        },
        zip: {
            get: function () {
                return this.form.zip
            },
            set: function (newValue) {
                this.setFormValues('zip', newValue);
            }
        },
        address: {
            get: function () {
                return this.form.address
            },
            set: function (newValue) {
                this.setFormValues('address', newValue);
            }
        },
        email: {
            get: function () {
                return this.form.email
            },
            set: function (newValue) {
                this.setFormValues('email', newValue);
            }
        },
        city: {
            get: function () {
                return this.form.city
            },
            set: function (newValue) {
                this.setFormValues('city', newValue);
            }
        },
        price: {
            get: function () {
                return this.form.price
            },
            set: function (newValue) {
                this.setFormValues('price', newValue);
            }
        },
        is_active: {
            get: function () {
                return this.form.is_active
            },
            set: function (newValue) {
                this.setFormValues('is_active', newValue);
            }
        },
    },
    validations: {
        client_name: {
            required,
        },
        zip: {
            required
        },
        address: {
            required
        },
        email: {
            required,
            email
        },
        city: {
            required
        },
        price: {
            required
        }
    }
}
</script>
