<template>

    <div class="container">
        <div class="row">

            <div class="card w-100 rounded my-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col between-border">
                            <h2>New Invoice</h2>
                        </div>
                        <div class="col between-border d-flex justify-content-end">
                            <router-link tag="button" :to="{ name: 'Invoice' }" class="btn btn-primary">
                                Invoices
                            </router-link>
                        </div>
                    </div>

                </div>
            </div>


            <div class="card rounded w-100 my-4">
                <div class="card-body">

                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Client</label> <br/>
                                {{ client_name }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="invoice_no">Invoice No</label>
                                <input type="text" class="form-control" id="invoice_no" v-model="invoice_number">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Invoice Date</label>
                                <b-form-datepicker v-model="invoice_due_date" class="mb-2"
                                   :date-format-options="{ year: 'numeric', month: '2-digit', day: '2-digit' }"
                                   locale="de">
                                </b-form-datepicker>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary my-2" @click="sendInvoice">Send Invoice
                            </button>
                            <button type="submit" class="btn btn-primary" @click="sendRemainder">Send Remainder</button>
                        </div>
                    </div>


                    <div class="row py-4">

                        <table class="col-12 table">
                            <thead>
                            <tr>
                                <th scope="col">Beschreibung</th>
                                <th scope="col">Datum</th>
                                <th scope="col">Menge</th>
                                <th scope="col">Preis/Einh</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in invoice.invoice_activity">
                                <th scope="row">{{ index + 1 }} {{ item.product_name }}</th>
                                <td>{{ item.date }}</td>
                                <td>{{ item.duration + " Stunden" }}</td>
                                <td v-if="item.price">{{ item.price | toCurrency }}</td>
                                <td v-else>{{ invoice.client[0].price | toCurrency }}</td>
                                <td class="pointer" @click="remove(index)">
                                    <i class="fas fa-trash"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="col-md-12 py-3">
                            <div class="col d-flex justify-content-end">
                                <p><b>Total: {{ this.subTotal | toCurrency }} </b></p>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <button type="submit" class="btn btn-primary" @click="onSubmit">Edit Invoice</button>
                    </div>

                </div>
            </div>
        </div>

    </div>

</template>

<script>
import {mapActions} from "vuex";
import moment from 'moment';

export default {
    name: "editInvoice",
    data() {
        return {
            invoice: [],
            price: 0,
            form: {
                date: null,
                duration: null,
                product: null
            }
        }
    },
    async beforeRouteUpdate(to, from, next) {
        await this.loadInvoiceById(to.params.invoice_id);
        next();
    },
    async created() {
        await this.loadInvoiceById(this.$route.params.invoice_id);
    },
    methods: {
        ...mapActions('product', ['LoadProducts']),

        async loadInvoiceById(invlice_id) {
            await axios.get('/api/invoice/byId/' + invlice_id).then((response) => {
                this.invoice = response.data;
                this.invoice.invoice_due_date = moment(this.invoice.invoice_due_date).format('DD.MM.YYYY');
            }).catch((err) => {
                this.handleHttpError(err);
            });
        },
        onSubmit() {

        },
        async sendInvoice() {
            await axios.get('/api/send/invoice/' + this.invoice.id).then((response) => {
                console.log('Email Send', response.data)
            }).catch((err) => {
                this.handleHttpError(err);
            });
        },
        async sendRemainder() {
            await axios.get('/api/send/remainder/invoice/' + this.invoice.id).then((response) => {
                this.showSuccessMessages(response);
            }).catch((err) => {
                this.handleHttpError(err);
            });
        },
        showSuccessMessages(response) {
            this.showMessages(response[0].data.messages, "Erfolg", '/invoice', null, true);
        }
    },
    computed: {
        subTotal() {
            return this.invoice.invoice_total;
            // return this.invoice.invoice_activity.reduce(function (accumulator, item) {
            //     return item.price ? accumulator + (item.duration * item.price) : accumulator + (item.duration * price);
            // }, 0);
        },
        invoice_number: {
            get: function () {
                return this.invoice.invoice_number;
            },
            set: function (newValue) {
                this.setFormValues('invoice_number', newValue);
            }
        },
        invoice_due_date: { 
            get: function () {
                return this.invoice.invoice_due_date
            },
            set: function (newValue) {
                this.setFormValues('invoice_due_date', newValue);
            }
        },
        client_name() {
            return this.invoice.hasOwnProperty('client') ? this.invoice.client[0].client_name : ''
        }
    }
}
</script>
