<template>

    <div class="row">

        <div class="card w-100 rounded my-4">
            <div class="card-body">
                <div class="row">
                    <div class="col between-border">
                        <h2>Invoices</h2>
                    </div>
                    <div class="col between-border d-flex justify-content-end">
                        <router-link tag="button" :to="{ name: 'NewInvoice' }" class="btn btn-primary">
                            Add Invoice
                        </router-link>
                    </div>
                </div>

            </div>
        </div>


        <div class="card rounded w-100 my-4">
            <div class="card-body">

                <div class="row pb-4">
                    <div class="col-6">
                        <input ref="searchInput" class="form-control search" type="search" @input="searchText"
                               placeholder="Search" v-model="search" @keydown.esc="clearSearchESC">
                    </div>

                    <b-col lg="6" class="my-1">
                        <b-form-group
                            label="Sort"
                            label-for="sort-by-select"
                            label-cols-sm="3"
                            label-align-sm="right"
                            label-size="sm"
                            class="mb-0">
                            <b-input-group size="sm">
                                <b-form-select
                                    id="sort-by-select"
                                    v-model="sortBy"
                                    :options="sortOptions"
                                    class="w-75">
                                    <template #first>
                                        <option value="">-- none --</option>
                                    </template>
                                </b-form-select>
                            </b-input-group>
                        </b-form-group>
                    </b-col>
                </div>

                <b-table striped hover :items="filteredInvoices" :fields="fields" :current-page="currentPage"
                         :per-page="perPage"
                         sort-icon-left @filtered="onFiltered">

                    <template #cell(actions)="row">
                        <div class="row">
                            <div class="col-4 pointer" @click="info(row.item)">
                                <i class="fas fa-edit"></i>
                            </div>
                            <div class="col-4 pointer" @click="getInvoicePdf(row.item)">
                                <i class="fas fa-file-pdf"></i>
                            </div>
                            <div class="col-4 pointer" @click="removeClient(row.item)">
                                <i class="fas fa-trash"></i>
                            </div>
                        </div>
                    </template>

                </b-table>

                <div class="col-12  d-flex justify-content-end">
                    <b-pagination
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        align="fill"
                        size="sm"
                        class="my-0">
                    </b-pagination>
                </div>

            </div>
        </div>


    </div>

</template>

<script>
import {mapActions, mapState} from "vuex";
import FileSaver from "file-saver";

export default {
    name: "Invoice",

    data() {
        return {
            fields: [
                {key: "invoice_number", label: "Invoice Number", sortable: true},
                {key: "client.client_name", label: 'Client name', sortable: true},
                {key: "invoice_due_date", sortable: true},
                {key: "invoice_total", sortable: true},
                {key: "actions", sortable: false}
            ],
            totalRows: 1,
            currentPage: 1,
            perPage: 10,
            search: '',
            sortBy: 'current',
        }
    },
    created() {
        this.LoadInvoices().then(() => {
            this.totalRows = this.invoices.length
        }).catch((err) => {
        });
    },
    methods: {
        ...mapActions('invoice', ['LoadInvoices']),
        onFiltered(filteredItems) {
            this.totalRows = filteredItems.length
            this.currentPage = 1
        },
        info(invoice) {
            this.$router.push({name: 'EditInvoice', params: {invoice_id: invoice.id}});
        },
        removeClient(invoice) {
            console.log('Client', invoice)
        },
        getInvoicePdf(invoice) {
            axios.get('/api/invoice/pdf/' + invoice.id, {responseType: "blob"})
                .then((response) => {
                    FileSaver.saveAs(response.data, invoice.invoice_number);
                }).catch((err) => {
                this.handleHttpError(err);
                this.ShowLoadingIcon(false);
            });
        },
        clearSearchESC() {
            this.search = '';
        },
        searchText(e) {
            this.$root.$emit('bv::refresh::table', 'my-table');
        },
    },
    computed: {
        ...mapState('invoice', ['invoices']),

        filteredInvoices() {
            let invoices = this.invoices;
            let search = this.search;
            let sort = this.sortBy;

            invoices = invoices.filter((invoice) => {
                return `${invoice.invoice_number} ${invoice.client.client_name} ${invoice.invoice_due_date}
                 ${invoice.invoice_total}`.toLowerCase().includes(search.toLowerCase());
            });

            if (sort === 'current') {
                const currentYear = new Date().getFullYear();
                invoices = invoices.filter((invoice) => {
                    let invoiceNumber = invoice.invoice_number.split('-')
                    return currentYear === Number(invoiceNumber[1])
                });
            }

            invoices.sort((a, b) => (a.invoice_number > b.invoice_number ? -1 : 1))
            this.totalRows = invoices.length;
            return invoices;
        },
        sortOptions() {
            return [{text: 'Current Year', value: 'current'}];
        }
    },
    watch: {
        filteredInvoices(newValue) {
            this.totalRows = newValue.length;
        }
    }
}
</script>
