<template>

    <div class="container">
        <div class="row">

            <div class="card w-100 rounded my-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col between-border">
                            <h2>New Invoice</h2>
                        </div>
                        <div class="col between-border d-flex justify-content-end">
                            <router-link tag="button" :to="{ name: 'Invoice' }" class="btn btn-primary">
                                Invoices
                            </router-link>
                        </div>
                    </div>

                </div>
            </div>


            <div class="card rounded w-100 my-4">
                <div class="card-body">

                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="selectClient">Client</label>
                                <select class="form-control" id="selectClient" v-model="client_id"
                                        @change="clientChanged($event)">
                                    <option v-for="client in clients" :value="client.id"
                                            :selected="client_id === client.id ? 'selected' : ''">
                                        {{ client.client_name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="invoice_no">Invoice No</label>
                                <input type="text" class="form-control" id="invoice_no" v-model="invoice_number">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Invoice Date</label>
                                <b-form-datepicker v-model="invoice_due_date" class="mb-2"></b-form-datepicker>
                            </div>
                        </div>

                        <div class="col-12">
                            <select class="form-control" id="activities" v-model="filter" @change="filterBy">
                                <option v-for="activityFilter in activityFilters" :value="activityFilter"
                                        :selected="activityFilter === filter ? 'selected' : ''">
                                    {{ activityFilter }}
                                </option>
                            </select>
                        </div>

                    </div>


                    <div class="row py-4">

                        <table class="col-12 table">
                            <thead>
                            <tr>
                                <th scope="col">Beschreibung</th>
                                <th scope="col">Datum</th>
                                <th scope="col">Menge</th>
                                <th scope="col">Preis/Einh</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in invoice_items">
                                <th scope="row">{{ index + 1 }} {{ item.product_name }}</th>
                                <td>{{ item.date }}</td>
                                <td>{{ item.duration + " Stunden" }}</td>
                                <td v-if="item.price">{{ item.price }},00 EUR</td>
                                <td v-else>{{ price }},00 EUR</td>
                                <td class="pointer" @click="remove(index)">
                                    <i class="fas fa-trash"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="col-md-12 py-3">
                            <div class="col d-flex justify-content-end">
                                <p><b>Total: {{ this.subTotal + " EUR" }} </b></p>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <button type="submit" class="btn btn-primary" @click="onSubmit">Submit</button>
                    </div>

                </div>
            </div>
        </div>

    </div>

</template>

<script>
import {mapActions, mapState} from "vuex";

const activityFilters = ["Current Month", "Last Month", "Last Three Months"];
const activityFilterValues = {"Current Month": "current", "Last Month": 'last', "Last Three Months": "last_3"};

export default {
    name: "NewClient",
    data() {
        return {
            form: {
                client_id: null,
                invoice_number: null,
                invoice_due_date: new Date(),
                items: [],
            },
            price: 0,
            activityFilters: activityFilters,
            filter: activityFilters[0]
        }
    },
    created() {
        this.LoadClients();
        this.getInvoiceNumber();
    },
    methods: {
        ...mapActions('activity', ['LoadClients']),
        ...mapActions('invoice', ['getLastInvoiceNumber']),
        async onSubmit() {
            let invoice = this.form;
            invoice.invoice_number = this.invoice_number;
            invoice.invoice_total = this.subTotal;

            let promises = [];
            promises.push(axios.post('/invoice/store', invoice));

            if (promises.length > 0) {
                //this.ShowLoadingIcon(true);
                await axios.all(promises)
                    .then((response) => {
                        //this.ShowLoadingIcon(false);
                        this.showSuccessMessages(response);
                    }).catch((response) => {
                        //this.ShowLoadingIcon(false);
                        this.handleHttpError(response);
                    });
            }
        },
        setFormValues(field, value) {
            this.form[field] = value;
        },
        showSuccessMessages(response) {
            this.showMessages(response[0].data.messages, "Erfolg", '/invoice', null, true);
        },
        clientChanged(e) {
            this.getPrice(e.target.value);
            this.getActivities(e.target.value);
        },
        getPrice(client_id) {
            let client = this.clients.find(client => client.id === Number(client_id))
            this.price = client.price;
        },
        getActivities(client_id, filter = false) {
            this.form.items = [];
            let dates = {}

            if (filter) {
                dates = {
                    "starting_date": null,
                    "ending_date": filter,
                }
            } else {
                dates = {
                    "starting_date": this.invoice_due_date,
                    "ending_date": null,
                }
            }

            axios.get('/api/getactivityByClient/' + client_id, {
                params: {
                    "dates": dates
                }
            }).then((response) => {
                this.form.items = response.data
            }).catch((err) => {
                this.handleHttpError(err);
            });
        },
        getInvoiceNumber() {
            this.getLastInvoiceNumber()
        },
        remove(index) {
            this.invoice_items.splice(index, 1);
        },
        async filterBy(event) {
            this.getActivities(this.client_id, activityFilterValues[event.target.value]);
        }
    },
    computed: {
        ...mapState('activity', ['clients']),
        ...mapState('invoice', ['last_invoice_number']),
        subTotal() {
            let price = this.price;
            return this.form.items.reduce(function (accumulator, item) {
                return item.price ? accumulator + (item.duration * item.price) : accumulator + (item.duration * price);
            }, 0);
        },
        client_id: {
            get: function () {
                return this.form.client_id
            },
            set: function (newValue) {
                this.setFormValues('client_id', newValue);
            }
        },
        invoice_number: {
            get: function () {
                return this.last_invoice_number;
            },
            set: function (newValue) {
                this.setFormValues('invoice_number', newValue);
            }
        },
        invoice_due_date: {
            get: function () {
                return this.form.invoice_due_date
            },
            set: function (newValue) {
                this.setFormValues('invoice_due_date', newValue);
            }
        },
        invoice_items: {
            get: function () {
                return this.form.items
            },
            set: function (newValue) {
                this.setFormValues('items', newValue);
            }
        },
    }
}
</script>
