<template>

    <div class="row">

        <div class="card w-100 rounded my-4">
            <div class="card-body">
                <div class="row">
                    <div class="col between-border">
                        <h2>Products</h2>
                    </div>
                    <div class="col between-border d-flex justify-content-end">
                        <router-link tag="button" :to="{ name: 'NewClient' }" class="btn btn-primary">
                            Add Product
                        </router-link>
                    </div>
                </div>

            </div>
        </div>

        <div class="card rounded w-100 my-4">
            <div class="card-body">

                <div class="row pb-4">
                    <div class="col-6">
                        <input ref="searchInput" class="form-control search" type="search" @input="searchText"
                               placeholder="Search" v-model="search" @keydown.esc="clearSearchESC">
                    </div>
                </div>

                <b-table striped hover :items="filteredProducts" :fields="fields" :current-page="currentPage" :per-page="perPage"
                         sort-icon-left @filtered="onFiltered">

                    <template #cell(actions)="row">
                        <div class="row">
                            <div class="col-6 pointer" @click="info(row.item)">
                                <i class="fas fa-edit"></i>
                            </div>
                            <div class="col-6 pointer" @click="removeClient(row.item)">
                                <i class="fas fa-trash"></i>
                            </div>
                        </div>
                    </template>

                </b-table>

                <div class="col-12  d-flex justify-content-end">
                    <b-pagination
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        align="fill"
                        size="sm"
                        class="my-0">
                    </b-pagination>
                </div>

            </div>
        </div>

    </div>

</template>

<script>
import {mapActions, mapState} from "vuex";

export default {
    name: "Product",

    data() {
        return {
            fields: [
                {key: "product_name", sortable: true},
                {key: "product_description", sortable: true},
                {key: "product_price", sortable: true},
                {key: "actions", sortable: false}
            ],
            totalRows: 1,
            currentPage: 1,
            perPage: 10,
            search: ''
        }
    },
    created() {
        this.LoadProducts().then(() => {
            this.totalRows = this.clients.length
        }).catch((err) => {
            this.handleHttpError(err);
        });
    },
    methods: {
        ...mapActions('product', ['LoadProducts']),
        onFiltered(filteredItems) {
            this.totalRows = filteredItems.length
            this.currentPage = 1
        },
        info(item) {
            //this.$router.push({name: 'EditClient', params: {client_id: item.id}});
        },
        removeClient(client) {
            console.log('Client', client)
        },
        clearSearchESC() {
            this.search = '';
        },
        searchText(e) {
            this.$root.$emit('bv::refresh::table', 'my-table');
        },
    },
    computed: {
        ...mapState('product', ['products']),

        filteredProducts() {
            let products = this.products;
            let search = this.search;
            this.totalRows = products.length;

            return products.filter((product) => {
                return `${product.product_name} ${product.product_description} ${product.product_price}`.toLowerCase().includes(search.toLowerCase());
            });
        },
    },
    watch: {
        filteredProducts(newValue) {
            this.totalRows = newValue.length;
        }
    }
}
</script>
