<template>

    <div class="row">
        <div class="card w-100 rounded my-4">
            <div class="card-body">
                <div class="row">
                    <div class="col between-border">
                        <i class="fas fa-sort-amount-up-alt"></i><h5 class="card-title d-inline">Total revenue</h5>
                        <p class="text-center pt-3">{{ dashboard_report.total_revenue | toCurrency }}</p>
                    </div>
                    <div class="col between-border">
                        <i class="fas fa-hand-holding-usd"></i><h5 class="card-title d-inline">Total invoices</h5>
                        <p class="text-center pt-3">{{ dashboard_report.total_invoices }}</p>
                    </div>
                    <div class="col between-border" @click="clientReport">
                        <i class="fas fa-user-friends"></i><h5 class="card-title d-inline">Total Clients</h5>
                        <p class="text-center pt-3">{{ dashboard_report.total_clients }}</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="card rounded w-100 my-4">
            <div class="card-body">
                <div class="row pb-4">
                    <h5 class="card-title">Monthly Revenue</h5>
                    <select v-model="selected">
                        <option v-for="year in reportByYear">{{ year }}</option>
                    </select>
                </div>

                <DashboardChart :data.sync="filteredYearlyReport"></DashboardChart>
            </div>
        </div>
    </div>

</template>

<script>
import {mapActions, mapState} from "vuex";
import DashboardChart from './charts/DashboardChart'

export default {
    name: "Dashboard",
    data() {
        return {
            selected: new Date().getFullYear()

        }
    },
    async created() {
        await this.loadDashboardReports().then(() => {
        }).catch((err) => {
            this.handleHttpError(err);
        });
    },
    components: {
        DashboardChart,
    },
    methods: {
        ...mapActions('dashboard', ['loadDashboardReports']),
        clientReport() {
            this.$router.push({ name: 'ClientReport'});
        }
    },
    computed: {
        ...mapState('dashboard', ['dashboard_report']),

        filteredYearlyReport() {
            return this.dashboard_report.hasOwnProperty('total_revenue_by_months') ? this.dashboard_report.total_revenue_by_months[this.selected] : '';
        },

        reportByYear() {
            return this.dashboard_report.hasOwnProperty('total_revenue_by_months') ? Object.keys(this.dashboard_report.total_revenue_by_months) : '';
        }
    }
}
</script>
