<template>
    <div class="row">
        <message ref="messageComponent"></message>

        <div class="col-md-2 py-4">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <router-link tag="a" :to="{ name: 'Dashboard' }" class="nav-link ">Dashboard</router-link>
                </li>
                <li class="nav-item">
                    <router-link tag="a" :to="{ name: 'Client' }" :class="{'nav_active': subIsActive('/client')}"
                                 class="nav-link ">Clients
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link tag="a" :to="{ name: 'Activity' }" :class="{'nav_active': subIsActive('/activity')}"
                                 class="nav-link ">Activities
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link tag="a" :to="{ name: 'Product' }" :class="{'nav_active': subIsActive('/product')}"
                                 class="nav-link ">Products
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link tag="a" :to="{ name: 'Invoice' }" :class="{'nav_active': subIsActive('/invoice')}"
                                 class="nav-link ">Invoices
                    </router-link>
                </li>
            </ul>
        </div>

        <div class="col-md-10">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>

import message from "./Message"

export default {
    name: "index",
    components: {
        message,
    },
    methods: {
        subIsActive(input) {
            const paths = Array.isArray(input) ? input : [input];

            return paths.some(path => {
                return this.$route.path.indexOf(path) === 0;
            })
        }
    },
}
</script>
