<template>
    <b-modal id="messageModal" ref="messageModal" :title="title" @hide="redirect">
        <div class="modal-body">
            <div :class="'alert alert-' + message.type + ' col-10'" role="alert" v-for="message in messages">
                <p :inner-html.prop="message.message | addNewLineFilter"></p>
            </div>
        </div>
        <div slot="modal-footer">
            <button type="button" class="btn btn-success"
                    @click="hideModal()">Okay
            </button>
        </div>
    </b-modal>
</template>

<script>

export default {
    data() {
        return {
            messages: [],
            title: "",
            redirectUrl: "",
            resetNavigation: false,
        }
    },

    filters: {
        addNewLineFilter: function (value) {
            if (!value) return '';
            return value;
        }
    },

    methods: {
        showError(err) {
            let title = "Ein Fehler ist aufgetreten";
            let data = err.response.data;
            if (data.messages !== undefined) {
                this.showMessages(data.messages, title);
                return;
            }

            if (err.response?.data && err.response.data?.message && err.response.data.errors === undefined) {
                const msg = []
                msg.push({type: 'danger', 'message': String(err.response.data.message)})
                this.showMessages(msg, title);
                return;
            }

            let messages = [];
            if (Array.isArray(data)) {
                for (let message of data) {
                    if (message.type !== undefined) {
                        messages.push({
                            type: message.type,
                            message: message.message
                        });
                    } else {
                        messages.push({
                            type: "danger",
                            message: message
                        })
                    }
                }
            } else {
                for (let index in data.errors) {
                    for (let messageIndex in data.errors[index]) {
                        messages.push({
                            type: "danger",
                            message: data.errors[index][messageIndex]
                        })
                    }
                }
            }

            this.showMessages(messages, title);
        },
        showMessages(messages, title, redirectUrl) {
            this.title = title;
            this.messages = messages;
            this.redirectUrl = redirectUrl;
            this.resetNavigation = false;
            this.$refs.messageModal.show();
        },
        hideModal() {
            this.$refs.messageModal.hide();
        },
        redirect() {
            if (this.redirectUrl != undefined && this.redirectUrl != '') {
                window.location.href = this.redirectUrl;
            }
        },
    }
}
</script>
